In [1]:
import pandas as pd
import glob
#pd.set_option('display.max_rows', 100)
#pd.options.display.max_rows = 100
#%autosave 0

#### reading multiple excel workbooks

In [2]:
#selecting .xlsx extension files
path = "files\*.xlsx"

In [3]:
excelfiles = glob.glob(path)

In [4]:
excelfiles

['files\\Aziz.xlsx',
 'files\\Calvin.xlsx',
 'files\\Clara.xlsx',
 'files\\Deepika.xlsx',
 'files\\Doug.xlsx',
 'files\\Linda.xlsx',
 'files\\Sidney.xlsx']

In [5]:
type(excelfiles)

list

#### accessing  files

In [6]:
df0 = pd.read_excel(excelfiles[0])
df0.head(3)

      Item  Price       Date
0    Pants    677 2021-03-20
1     Coat   8560 2021-07-22
2  Sweater   9144 2021-12-01

#### stacking files one on top of the other "concatenation"

In [7]:
#create an empty dataframe
dfglobal = pd.DataFrame()
for file in excelfiles:
    dfglobal = pd.concat([dfglobal,pd.read_excel(file)],axis = 0)#,ignore_index = True

In [8]:
dfglobal.head()

      Item  Price       Date
0    Pants    677 2021-03-20
1     Coat   8560 2021-07-22
2  Sweater   9144 2021-12-01
3    Dress   6890 2021-09-19
4  Sweater   1149 2021-03-30

In [9]:
len(dfglobal)

7000

In [10]:
dfglobal.shape

(7000, 3)

#### using append method to see

In [11]:
dfappend = pd.DataFrame()
for file in excelfiles:
    dfappend = dfappend.append([pd.read_excel(file)])

In [12]:
dfappend.head()

      Item  Price       Date
0    Pants    677 2021-03-20
1     Coat   8560 2021-07-22
2  Sweater   9144 2021-12-01
3    Dress   6890 2021-09-19
4  Sweater   1149 2021-03-30

In [13]:
xls_files = glob.glob(path)
dfconcat= pd.concat([pd.read_excel(xls_files[i]) for i in range(len(xls_files))])
len(dfconcat)

7000

In [14]:
xls_files = glob.glob(path)
dfconcat= pd.concat([pd.read_excel(file) for file in xls_files])
len(dfconcat)

7000

In [15]:
dfglobal.to_excel('data/Combined_files.xlsx',index = False)